{% extends "cmsplugin_news/cmsplugin_news_base.html" %}
{% load i18n simple_translation_tags cmsplugin_blog_tags %}

{# block contentleft #}

{% block contentleft %}
{% block entries_list_1 %}
<h2 class="feat-title"><span>{% trans "What's On FOSS World" %}</span></h2>

{% with latest as object_list %}
	{% if object_list %}
		{% for news in object_list %}
			<div class="post clearfix" >
				<div class="entry clearfix">

					<h3 class="post-title"><a href="{{ news.get_absolute_url }}" rel="bookmark" target="_blank" title="{{ news.title }}">{{ news.title }}</a></h3>
					<div class="meta">
						<span class="meta-author">
							<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Shared by Michael Pollock" rel="author">Shared by author</a> | 
						</span> 

						<span class="meta-date">
							{{ news.pub_date|date:"d b Y" }}
						</span> 
					</div>

					<p>
						{{ news.excerpt }}
					</p>

				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>{% trans "No entries" %}</p>
	{% endif %}
	{% endwith %}

{% endblock entries_list_1 %}
{% endblock contentleft %}

{# block contentright #}

{# block entries_widget #}
{# list of blog entries rendered on home page #}

	{% block authors_list %}
		{% render_author_links %}
	{% endblock %}
	
	{% block archives %}
		{% render_month_links %}
	{% endblock %}

	{% block tag_cloud %}
		{% render_tag_links %}
	{% endblock %}
