			<div id="featposts-widget-2" class="widget featposts">																											
				<div class="widget-wrap"><h3 class="widgettitle"><span>Featured Posts Widget</span></h3><div class="cat-posts-widget textwidget">
						<div class="post">
							<div class="entry clearfix">
								<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004964402Small-150x150.jpg" alt="Another Full-Width Featured Image" title="Another Full-Width Featured Image">
								</a>
								<p class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a></p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
								quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
								iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
							</div>
							<div class="meta">

								<span class="meta-author">
									<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
								</span> 

								<span class="meta-date">
									March 28, 2011	</span> 

								<span class="meta-comments">
									| <a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/#comments" rel="bookmark" title="Comments for Another Full-Width Featured Image">0 Comments</a>
					</span>
					 
				
				</div>					<div style="clear:both;"></div>
								</div>
										<div class="post">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Garden-150x150.jpg" alt="Full-Width Featured Image" title="Full-Width Featured Image">
					</a>
										<p class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">Full-Width Featured Image</a></p>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
				 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
				iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									</div>
									<div class="meta">
				
					<span class="meta-author">
						<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
					</span> 
				
					<span class="meta-date">
						November 23, 2010	</span> 
				
						<span class="meta-comments">
						 | <a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/#comments" rel="bookmark" title="Comments for Full-Width Featured Image">0 Comments</a>
					</span>
					 
				
				</div>					<div style="clear:both;"></div>
								</div>
										<div class="post">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="Permanent Link to This is a Test Post With Some Comments">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000001229886Small1-e1301345256977-150x150.jpg" alt="This is a Test Post With Some Comments" title="This is a Test Post With Some Comments">
					</a>
										<p class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="Permanent Link to This is a Test Post With Some Comments">This is a Test Post With Some Comments</a></p>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
				 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
				iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									</div>
									<div class="meta">
				
					<span class="meta-author">
						<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
					</span> 
				
					<span class="meta-date">
						November 22, 2010	</span> 
				
						<span class="meta-comments">
						 | <a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comments" rel="bookmark" title="Comments for This is a Test Post With Some Comments">7 Comments</a>
					</span>
					 
				
				</div>					<div style="clear:both;"></div>
								</div>
						</div>
																</div></div>

