	<div id="text-3" class="widget widget_text">
		<div class="widget-wrap"><h3 class="widgettitle">
			<span>Visit Our Sponsors</span></h3>			
			<div class="textwidget">
				<div class="banner125 clearfix">

					<div class="ad left">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner125.jpg" alt="banner ad"></a>
					</div>

					<div class="ad right">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner125-2.jpg" alt="banner ad"></a>
					</div>

					<div class="ad left">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner125-3.jpg" alt="banner ad"></a>
					</div>

					<div class="ad right">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner125-4.jpg" alt="banner ad"></a>
					</div>

			</div></div>
</div></div>			</div>


