				<div class="featured videos yt">
				
					<div class="container youtube-slider clearfix">
				
						<div id="featured-yt-vids" class="flexslider">
							<ul class="slides">
				
					    			<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" id="feature-yt-vid-1">
				
									<div class="feature-video">
										<div class="video">
											<iframe src="{{ STATIC_URL }}wp_clear3/static/images/Fwjs2nZDA3k.html" frameborder="0" height="250" width="300"></iframe>
										</div>
									</div>
				
								</li>
					    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-yt-vid-2">
				
									<div class="feature-video">
										<div class="video">
											<iframe src="{{ STATIC_URL }}wp_clear3/static/images/tzfC6rJW3QI_002.html" frameborder="0" height="250" width="300"></iframe>
										</div>
									</div>
				
								</li>
					    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-yt-vid-3">
				
									<div class="feature-video">
										<div class="video">
											<iframe src="{{ STATIC_URL }}wp_clear3/static/images/aV4iDJMxy-Q.html" frameborder="0" height="250" width="300"></iframe>
										</div>
									</div>
				
								</li>
					    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-yt-vid-4">
				
									<div class="feature-video">
										<div class="video">
											<iframe src="{{ STATIC_URL }}wp_clear3/static/images/EDNoXgu41xE.html" frameborder="0" height="250" width="300"></iframe>
										</div>
									</div>
				
								</li>
					    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-yt-vid-5">
				
									<div class="feature-video">
										<div class="video">
											<iframe src="{{ STATIC_URL }}wp_clear3/static/images/CBpgGYCp-0k.html" frameborder="0" height="250" width="300"></iframe>
										</div>
									</div>
				
								</li>
							</ul>
						</div>
				
						<div class="controls-container clearfix">
							<ul class="flexslide-custom-controls youtube-custom-controls clearfix">
				
								<li class="clearfix">
									<a class="clearfix flex-active" href="#" title="How to Install WordPress With WordPress Auto-Install">
										<img class="yt-thumb" src="{{ STATIC_URL }}wp_clear3/static/images/default.jpg" alt="How to Install WordPress With WordPress Auto-Install" title="How to Install WordPress With WordPress Auto-Install">
										<span class="yt-title">How to Install WordPress With WordPress Auto-Install</span>
									</a>
								</li>
								<li class="clearfix">
									<a class="clearfix" href="#" title="How to Install WordPress">
										<img class="yt-thumb" src="{{ STATIC_URL }}wp_clear3/static/images/default_002.jpg" alt="How to Install WordPress" title="How to Install WordPress">
										<span class="yt-title">How to Install WordPress</span>
									</a>
								</li>
								<li class="clearfix">
									<a class="clearfix" href="#" title="How to Install a WordPress Theme">
										<img class="yt-thumb" src="{{ STATIC_URL }}wp_clear3/static/images/default_005.jpg" alt="How to Install a WordPress Theme" title="How to Install a WordPress Theme">
										<span class="yt-title">How to Install a WordPress Theme</span>
									</a>
								</li>
								<li class="clearfix">
									<a class="clearfix" href="#" title="WP-Launch WordPress Theme Demo Video">
										<img class="yt-thumb" src="{{ STATIC_URL }}wp_clear3/static/images/default_003.jpg" alt="WP-Launch WordPress Theme Demo Video" title="WP-Launch WordPress Theme Demo Video">
										<span class="yt-title">WP-Launch WordPress Theme Demo Video</span>
									</a>
								</li>
								<li class="clearfix">
									<a class="clearfix" href="#" title="How to Use the WordPress Image Uploader and Image Editor">
										<img class="yt-thumb" src="{{ STATIC_URL }}wp_clear3/static/images/default_004.jpg" alt="How to Use the WordPress Image Uploader and Image Editor" title="How to Use the WordPress Image Uploader and Image Editor">
										<span class="yt-title">How to Use the WordPress Image Uploader and Image Editor</span>
									</a>
								</li>
							</ul>
						</div>
				
					</div>
				
				</div>
		</div>
	</div>

