{% block footer_widgets %}
			<div id="footer-widgets" class="maincontent">
				<div class="limit clearfix">
					<div class="footer-widget1">
						<div id="catposts-widget-4" class="widget catposts">
							<div class="widget-wrap">
								<h3 class="widgettitle"><span><a href="http://wp-clear-new.solostreamsites.com/category/blog-design/">Category Posts Widget</a></span></h3>
								<div class="cat-posts-widget textwidget">
									<!--
									<div class="post">
										<div class="entry clearfix">
											<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000011840573Small-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
											</a>
											<p class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></p>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
											quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
											iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
											enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
											consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
											Ut vel [...]</p>
										</div>
										<div class="meta">

											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 

											<span class="meta-date">
												November 19, 2010	</span> 

											<span class="meta-comments">
												| <a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/#comments" rel="bookmark" title="Comments for This is a Test Post">0 Comments</a>
											</span>


										</div>					<div style="clear:both;"></div>
									</div>
									<div class="post">
										<div class="entry clearfix">
											<a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/womanwrinkles-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
											</a>
											<p class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></p>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
											quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
											iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
											enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
											consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
											Ut vel [...]</p>
										</div>
										<div class="meta">

											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 

											<span class="meta-date">
												August 19, 2010	</span> 

											<span class="meta-comments">
												| <a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/#comments" rel="bookmark" title="Comments for This is a Test Post">0 Comments</a>
											</span>


										</div>					<div style="clear:both;"></div>
									</div>
									-->
								</div>
							</div>
						</div>			
					</div>

					<div class="footer-widget2">
						<div id="recent-posts-2" class="widget widget_recent_entries">
							<div class="widget-wrap">		
								<h3 class="widgettitle"><span>Recent Posts</span></h3>		
								<!--
								<ul>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" title="WP-Clear Tutorials Moved">WP-Clear Tutorials Moved</a>
									</li>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" title="Big Blue-Eyed Baby">Big Blue-Eyed Baby</a>
									</li>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" title="Another Full-Width Featured Image">Another Full-Width Featured Image</a>
									</li>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" title="Pure Beauty">Pure Beauty</a>
									</li>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" title="Full-Width Featured Image">Full-Width Featured Image</a>
									</li>
									<li>
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" title="This is a Test Post With Some Comments">This is a Test Post With Some Comments</a>
									</li>
								</ul>
								-->
							</div>
						</div>			
					</div>

					<div class="footer-widget3">
						<div id="archives-6" class="widget widget_archive">
							<div class="widget-wrap">
								<h3 class="widgettitle"><span>Archives</span></h3>	
								<!--
								<ul>
									<li><a href="http://wp-clear-new.solostreamsites.com/2011/10/" title="October 2011">October 2011</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2011/03/" title="March 2011">March 2011</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/" title="November 2010">November 2010</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/10/" title="October 2010">October 2010</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/09/" title="September 2010">September 2010</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/08/" title="August 2010">August 2010</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/07/" title="July 2010">July 2010</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/2010/06/" title="June 2010">June 2010</a></li>
								</ul>
								-->
							</div>
						</div>			
					</div>

					<div class="footer-widget4">
						<div id="meta-2" class="widget widget_meta">
							<div class="widget-wrap">
								<h3 class="widgettitle"><span>Meta</span></h3>			
								<ul>
									<li><a href="{{ BASE_URL }}/admin">Log in</a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="http://wp-clear-new.solostreamsites.com/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">abc.com</a></li>
								</ul>
							</div>
						</div>			
					</div>
				</div>

			</div> <!-- End #footer-widgets div -->
{% endblock footer_widgets %}

			<div id="footer">

				<div class="limit clearfix">
					<p class="footurl"><a href="http://wp-clear-new.solostreamsites.com/">VFOSS – Vietnam FOSS Community</a></p>
					<div id="footnav">
						<ul class="clearfix">
							<li id="menu-item-428" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-428"><a href="{{ BASE_URL }}">Home</a></li>
							<li id="menu-item-522" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-522"><a href="{{ BASE_URL }}/projects">Projects</a></li>
							<li id="menu-item-523" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-523"><a href="{{ BASE_URL }}/newswire">News-wire</a></li>
							<li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="{{ BASE_URL }}/blog">Blog</a></li>
							<li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="{{ BASE_URL }}/sitemap">Site Map</a></li>
						</ul>
					</div>
					©  2013 vfoss.org – Based on WP-Clear 3 Magazine Theme. GPL License <a href="http://www.solostream.com/" rel="nofollow">by Solostream</a>.
					<br/>
				</div>
			</div> <!-- End #footer div -->

		</div> <!-- End #outerwrap div -->

					<p>
					<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/python-150.png" align="middle" height="135 px" alt="python logo" title="Powered by Python">
					<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/django-cms-150_3.png" align="middle" alt="django-cms logo" title="Powered by Django-cms">
					</p>

