{# extending project_theme_base #}
{% extends "cmsplugin_vfoss_project/cmsplugin_vfoss_project_base.html" %}
{% load i18n cmsplugin_blog_tags %}
{# load cms_tags sekizai_tags #} 

{% block contentleft %}
{#{ block.super }#}

<h4 class="home-title">{% trans "Projects List" %} "{{ tag }}"</h4>
<h1></h1>

{% if object_list %}
   {% include "cmsplugin_vfoss_project/project_list_include.html" %}
{% else %}
	<p>{% trans "No entries tagged" %} "{{ tag }}"</p>
{% endif %}

{% endblock %} {# contentleft #}


{% block authors %}
	{% render_author_links %}
{% endblock %}
	
{% block archives %}
	{% render_month_links %}
{% endblock %}

{% block tag_cloud %}
	{% render_tag_links %}
{% endblock %}


