{% extends "wp_clear3/templates/wp_clear3_content_sidebar_wide_base.html" %}
{% load i18n cmsplugin_blog_tags %}


{# contentleft #}
{% block featured_entries_1 %}
{# empty #}
{% endblock %}

{% block featured_entries_2 %}
{# empty #}
{% endblock %}

{% block entries_widget %}
{% render_entries_widget %}
{% endblock %}


{# contentrigth #}

{% block subscribebox %}
<div id="subscribebox-widget-3" class="widget subscribebox">
	<div class="widget-wrap"><h3 class="widgettitle"><span>Subscribe</span></h3>
		<div class="textwidget">
			<p class="intro">Subscribe by email:</p>

			<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=michaelpollock', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
				<input value="michaelpollock" name="uri" type="hidden">
				<input name="loc" value="en_US" type="hidden">
				<p class="email-form">
				<input class="sub" name="email" value="email address" onfocus="if (this.value == 'email address') {this.value = '';}" onblur="if (this.value == '') {this.value = 'email address';}" type="text"><input value="submit" class="subbutton" type="submit">
				</p>
				<div style="clear:both;"><small>Privacy guaranteed. We never share your info.</small></div>
			</form>


			<p class="intro">Follow us:</p>

			<div class="sub-icons clearfix">

				<a title="Subscribe via RSS Feed" href="http://wp-clear-new.solostreamsites.com/feed/"><img class="rss-sub" src="{{ STATIC_URL }}wp_clear3/static/images/feed.png" alt="Subscribe via RSS Feed" align="top"></a>

				<a target="_blank" title="Connect on Facebook" rel="external" href="http://www.facebook.com/michaeldpollock"><img class="facebook-sub" src="{{ STATIC_URL }}wp_clear3/static/images/facebook.png" alt="Connect on Facebook" align="top"></a>

				<a target="_blank" rel="external" title="Follow Me on Twitter" href="http://www.twitter.com/michaeldpollock"><img class="twitter-sub" src="{{ STATIC_URL }}wp_clear3/static/images/twitter.png" alt="Follow Me on Twitter" align="top"></a>

				<a target="_blank" title="Connect on Pinterest" rel="external" href="http://www.pinterest.com/michaeldpollock"><img class="pinterest-sub" src="{{ STATIC_URL }}wp_clear3/static/images/pinterest.png" alt="Connect on Pinterest" align="top"></a>

				<a target="_blank" title="Connect on Google Buzz" rel="external" href="https://plus.google.com/michael.savvysolo?rel=author"><img class="gplus-sub" src="{{ STATIC_URL }}wp_clear3/static/images/google-plus.png" alt="Connect on Google Buzz" align="top"></a>

				<a target="_blank" title="Connect on Flickr" rel="external" href="http://www.flickr.com/photos/13434854@N00"><img class="flickr-sub" src="{{ STATIC_URL }}wp_clear3/static/images/flickr.png" alt="Connect on Flickr" align="top"></a>


				<a target="_blank" title="Connect on LinkedIn" rel="external" href="http://www.linkedin.com/in/michaeldpollock"><img class="linkedin-sub" src="{{ STATIC_URL }}wp_clear3/static/images/linkedin.png" alt="Connect on LinkedIn" align="top"></a>


				<a target="_blank" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/mdp8593"><img class="youtube-sub" src="{{ STATIC_URL }}wp_clear3/static/images/youtube.png" alt="Connect on YouTube" align="top"></a>

			</div>

		</div>
	</div>
</div>
{% endblock %}							


