{% extends "new_theme/templates/_extend_base.html" %}
{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}

{% block title %}{% trans "Vietnamese Friends of OSS" %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "new_theme/css/bootstrap.min.css" %}" type="text/css" />
{% endblock stylesheets %}

{% block javascript %}
	<script src="{% static "new_theme/js/jquery-2.0.3.js" %}" type="text/javascript"></script>
	<script src="{% static "new_theme/js/bootstrap.js" %}" type="text/javascript"></script>
{% endblock javascript %}


