<div id="sidebar-bottom" class="clearfix">
	<div id="sidebar-bottom-left">
									<div id="archives-3" class="widget widget_archive"><div class="widget-wrap"><h3 class="widgettitle"><span>Archives</span></h3>		<ul>
							<li><a href="http://wp-clear-new.solostreamsites.com/2011/10/" title="October 2011">October 2011</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2011/03/" title="March 2011">March 2011</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/" title="November 2010">November 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/10/" title="October 2010">October 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/09/" title="September 2010">September 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/08/" title="August 2010">August 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/07/" title="July 2010">July 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/06/" title="June 2010">June 2010</a></li>
						</ul>
				</div></div><div id="bannerad-widget-2" class="widget bannerad"><div class="widget-wrap"><a href=""><img src="{{ STATIC_URL }}wp_clear3/static/images/banner160.jpg" alt=""></a></div></div>				</div>
								<div id="sidebar-bottom-right">
									<div id="archives-7" class="widget widget_archive"><div class="widget-wrap"><h3 class="widgettitle"><span>Archives</span></h3>		<ul>
							<li><a href="http://wp-clear-new.solostreamsites.com/2011/10/" title="October 2011">October 2011</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2011/03/" title="March 2011">March 2011</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/" title="November 2010">November 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/10/" title="October 2010">October 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/09/" title="September 2010">September 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/08/" title="August 2010">August 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/07/" title="July 2010">July 2010</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/06/" title="June 2010">June 2010</a></li>
						</ul>
				</div></div><div id="bannerad-widget-3" class="widget bannerad"><div class="widget-wrap"><a href=""><img src="{{ STATIC_URL }}wp_clear3/static/images/banner120.jpg" alt=""></a></div></div>				</div>
							</div>
							
						</div>

