<div class="container narrow-slider clearfix">
							
									<div class="controls-container clearfix">
							
										<h2><span>Featured Articles (optional)</span></h2>
							
										<ul class="flexslide-custom-controls narrow-custom-controls clearfix">
							
							
											<li><a class="" href="#" title="Another Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004964402Small-150x150.jpg" alt="Another Full-Width Featured Image" title="Another Full-Width Featured Image">
											</a></li>
							
							
											<li><a class="" href="#" title="Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Garden-150x150.jpg" alt="Full-Width Featured Image" title="Full-Width Featured Image">
											</a></li>
							
							
											<li><a class="" href="#" title="This is a Test Post With Some Comments">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000001229886Small1-e1301345256977-150x150.jpg" alt="This is a Test Post With Some Comments" title="This is a Test Post With Some Comments">
											</a></li>
							
							
											<li><a class="" href="#" title="This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000011840573Small-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
											</a></li>
							
							
											<li><a class="" href="#" title="Video Post #5">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/personal-projects-150x150.jpg" alt="Video Post #5" title="Video Post #5">
											</a></li>
							
							
											<li><a class="flex-active" href="#" title="This is a Full-Width Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000008560287Small-150x150.jpg" alt="This is a Full-Width Test Post" title="This is a Full-Width Test Post">
											</a></li>
							
							
										</ul>
							
									</div>
							
									<div id="featured" class="flexslider">
							
										<ul class="slides">
							
							
											<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" id="narrow-feature-post-1" class="full-width">
							
											<div class="slide-container clearfix">
							
												<div class="feature-image"> 
													<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="nofollow" title="Permanent Link to Another Full-Width Featured Image">		<img src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004964402Small-630x290.jpg" alt="Another Full-Width Featured Image" title="Another Full-Width Featured Image">
													</a>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="nofollow" title="Permanent Link to Another Full-Width Featured Image">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
											<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" id="narrow-feature-post-2" class="full-width">
							
											<div class="slide-container clearfix">
							
												<div class="feature-image"> 
													<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="nofollow" title="Permanent Link to Full-Width Featured Image">		<img src="{{ STATIC_URL }}wp_clear3/static/images/Garden-630x290.jpg" alt="Full-Width Featured Image" title="Full-Width Featured Image">
													</a>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">Full-Width Featured Image</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="nofollow" title="Permanent Link to Full-Width Featured Image">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
											<li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" id="narrow-feature-post-3" class="full-width">
							
											<div class="slide-container clearfix">
							
												<div class="feature-image"> 
													<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="nofollow" title="Permanent Link to This is a Test Post With Some Comments">		<img src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000001229886Small1-e1301345256977-630x290.jpg" alt="This is a Test Post With Some Comments" title="This is a Test Post With Some Comments">
													</a>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="Permanent Link to This is a Test Post With Some Comments">This is a Test Post With Some Comments</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="nofollow" title="Permanent Link to This is a Test Post With Some Comments">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
											<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" id="narrow-feature-post-4">
							
											<div class="slide-container clearfix">
							
												<div class="feature-image"> 
													<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="nofollow" title="Permanent Link to This is a Test Post">		<img src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000011840573Small-400x300.jpg" alt="This is a Test Post" title="This is a Test Post">
													</a>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
														enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
														consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
														Ut vel [...]</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
											<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" id="narrow-feature-post-5">
							
											<div class="slide-container clearfix">
							
												<div class="feature-video">
													<div class="video">
														<iframe src="{{ STATIC_URL }}wp_clear3/static/images/34l2KaGjgEM_002.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe>								</div>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/09/video-post-5/" rel="bookmark" title="Permanent Link to Video Post #5">Video Post #5</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
														enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
														consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
														Ut vel [...]</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/09/video-post-5/" rel="nofollow" title="Permanent Link to Video Post #5">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
											<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" id="narrow-feature-post-6">
							
											<div class="slide-container clearfix">
							
												<div class="feature-image"> 
													<a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="nofollow" title="Permanent Link to This is a Full-Width Test Post">		<img src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000008560287Small-400x300.jpg" alt="This is a Full-Width Test Post" title="This is a Full-Width Test Post">
													</a>
												</div>
							
												<div class="flex-caption">
													<div class="excerpt">
														<h2 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="bookmark" title="Permanent Link to This is a Full-Width Test Post">This is a Full-Width Test Post</a></h2>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
														Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
														iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
														enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
														consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
														Ut vel [...]</p>
													</div>
													<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="nofollow" title="Permanent Link to This is a Full-Width Test Post">Continue Reading</a></p>
												</div>
							
											</div>
							
											</li>
							
							
										</ul>
							
							
									</div>
							
								</div>
